{% extends "base.html" %}

{% block menu %}
<li><a href="{% url switch.views.rooms office.office_name %}">rooms</a></li>
<li><a href="{% url switch.views.switches office.office_name %}">switches</a></li>
<li><a href="{% url switch.views.physical_ports office.office_name %}">physical ports</a></li>
{% endblock %}


{% block content %}

<table class="table table-striped">
<thead>
<tr>
<th>Switch name</th>
<th>IP</th>
</tr>
</thead>
<tbody>
{% for item in switches %}
<tr>
<td><a href="{% url switch.views.ports item.switch_ip %}">{{ item.switch_name }}</a></td>
<td>{{ item.switch_ip }}</td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
